@use './layout.module.scss' as layout;

.form {
  max-width: 700px;
}
#alerts {
  position: absolute;
  z-index: 800;
  right: 10px;
  bottom: 40px;
  min-width: 230px;
  max-width: 90%;
}
@media (min-width: 768px) {
  #alerts {
    top: layout.$header-height + 10px;
  }
}

$tooltip-flow: 12px;
$tooltip-color: black;

.tooltip {
  margin: 0 auto;
  position: absolute;
  padding: 9px 11px;
  font-size: 0.9rem;
  border-radius: 7px;
  text-align: center;
  background: $tooltip-color;
  color: white;
  bottom: calc(100% + $tooltip-flow);
}

.tooltip_arrow {
  $width: 16px;
  $height: 7px;
  position: absolute;
  content: '';
  bottom: calc(100% + $tooltip-flow - $height);
  left: calc(50% - $width / 2);
  border-top: $height $tooltip-color solid;
  border-left: $width / 2 transparent solid;
  border-right: $width / 2 transparent solid;
  border-bottom: 0px transparent solid;
}
.no_color_link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
