#title {
  font-size: 1.55rem;
  margin: 0;
}
#profile_dropdown {
  position: absolute;
  top: 33px;
  left: -100px;
  max-width: 180px;
  width: 50vw;
}
#groups_dropdown {
  position: absolute;
  width: 50vw;
  max-width: 230px;
  left: calc(100% - 170px);
  top: 27px;

  a#new_group_link {
    color: var(--bs-link-color);
    text-decoration: underline;
  }
}
#group_menu {
  min-height: 60vh;
}
